<main class="flex flex-wrap -mx-px overflow-hidden sm:-mx-px md:-mx-px lg:-mx-px xl:-mx-px">

    <div class="bg-black border-black outline-black my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

    <div class="my-px px-px w-1/3 overflow-hidden sm:my-px sm:px-px md:my-px md:px-px lg:my-px lg:px-px xl:my-px xl:px-px">
        <!-- Column Content -->
    </div>

</main>
