<main class="min-w-0 flex-auto grid grid-cols-3 gap-4">
{{#each board}}
    {{#if this}}
        <p id="{{@index}}">{{this}}</p>
    {{else}}
        <form class="form" action="/" method="post">
            <input type="submit" name="{{@index}}" value="&emsp;">
        </form>
    {{/if}}
{{/each}}
</main>
