<main class="flex h-screen span-y-4">
    <div class="grid cols-1 self-center m-auto flex rounded-md text-font-light dark:text-font-dark font-extrabold text-center bg-bg-light dark:bg-bg-dark p-6 shadow-lg">
        Tie!
        <div class="flex content-center text-center">
            <a href="/" class="mt-2 block bg-primary-blue-light dark:bg-primary-blue-dark text-font-dark px-4 py-2 rounded text-sm uppercase tracking-wide font-semibold">Replay</a>
        </div>
    </div>
</main>
